@model ePets.Models.AnimalCreateNewModel


@{
    ViewData["Title"] = "Update Animal";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<h1>Edit Animal:</h1>
<div style="  display: flex; justify-content: center; " class="AnimalBox" >
    <form asp-action="Edit"  enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly"></div>

        <div class="form-group">
            <label asp-for="Name"> </label>
            <input asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="Photo"> </label> <img src="@Model.Photo" />
            <input asp-for="Photo" type="file" />
            <span asp-validation-for="Photo"></span>
        </div>
        <div class="form-group">
            <label asp-for="AnimalTypeId"> </label>
            <select class="form-control form-control-lg" asp-for="AnimalTypeId" id="CategoryId">
                <option value="1" selected="selected">Bird</option>
                <option value="2">Fish</option>
                <option value="3">Dog</option>
                <option value="4">Reptile</option>
            </select>
            <span asp-validation-for="AnimalTypeId"></span>
        </div>
        <div class="form-group">
            <label asp-for="Age"> </label>
            <input asp-for="Age" type="number" />
            <span asp-validation-for="Age"></span>
        </div>
        <div class="form-group">
            <label asp-for="Price"> </label>
            <input asp-for="Price" type="number" />
            <span asp-validation-for="Price"></span>
        </div>
        <div class="form-group">
            <label asp-for="Bio"> </label><br />
            <textarea asp-for="Bio" style="width:stretch; height:stretch" ></textarea>
            <span asp-validation-for="Bio"></span>
        </div>
        <div>
            <a asp-action="Index" asp-controller="Catalog" style="float:left" class="btn btn-outline-info" /> Back To Catalog</a>
            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
            {
                <input type="submit" style="float:right" value="Update Animal" />
            }
        </div>
    </form>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
